<h1>Editing my_collection</h1>

<% form_for(@my_collection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @my_collection %> |
<%= link_to 'Back', my_collections_path %>