#vendor-container {
	text-align: left;
	width: 600px;
}

table {
	width:600px;
}

.sortable th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
.sortable th .asc {   
  background-image: url(/images/up_arrow.png);   
}  
  
.sortable th .desc {   
  background-image: url(/images/down_arrow.png);   
}
