<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Thank you for joining Macabolic.com, <%= @registered_user.full_name %></h1>
		<p>
			While we are working very hard to get the site out, you can help spreading the word to others who are Mac fans. We will notify you once it is ready.
		</p>
		<p>
			The Macabolic Team
		</p>
	</body>	
</html>