body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

a  {color: #03c}
a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

#page {
  background-color: #f0f0f0;
  width: 1000px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#content {
  float: left;
  background-color: white;
  border: 3px solid #aaa;
  padding: 25px;
//  width: 850px;
}

#navigation-bar {
  float: right;
  width: 200px;
}

#flashboard {
  float: center;
//  border: 3px solid #aaa;
//  padding: 25px;
  width: 700px;
}

#notice {
  float: center;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #FFAAAA;
}

#space {
  height: 40px;
  width: 800px;
  clear: both;
  border-bottom: 3px solid #aaa;
}

#trademark {
  float: right;
  width: 175px;
}

#footer {
  height: 100px;
  width: 800px;
  clear: both;
}

#friends_link {
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 10px;
  color: #AAAAAA;	
}

#header {
  padding-left: 0px;
  padding-right: 30px;
  // background-image: url("images/rails.png");
  / /background-repeat: no-repeat;
  // background-position: top left;
  height: 64px;
}

#header h1, #header h2 {margin: 0}
#header h2 {
  font-weight: normal;
  font-size: 16px;
  color: #888;
}

#timestamps {
  	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	font-size: 10px;
	color: #7480DF;
  	float: left;
}

#post_user {
	font-size: 12px;
	color: #C52F24;
}

#post_content {
	font-size: 12px;	
}

#review_link {
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 10px;
  color: #AAAAAA;	
}

#my_collections_body {
  	padding-left: 30px;
  	padding-right: 30px;
  	padding-top: 30px;
  	padding-bottom: 30px;
	border: 2px solid #aaa;
}