/* https://gist.github.com/Shadowfiend */
/*
<div class="popup left-arrow">
  <h5>Stumped?</h5>
  <p>Post your question here and other people on OpenStudy will help you find
  the answer!</p>

  <a class="close">close</a>

  <div>
    <input id="hide-tips" type="checkbox" />
    <label for="hide-tips">Don't show tips</label>
    <button class="close">Close</button>
  </div>
</div>
*/
.popup {
  position: relative;
  font-size: 12px;

  width: 300px;

  background-color: #28C0F7;
  color: white;

  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;

  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

h5 {
  margin: 0;
  font-size: 120%;
}

.left-arrow .arrow, .right-arrow .arrow {
  position: absolute;

  top: 20px;
}

.csstransforms .popup {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px 0;
}

.csstransforms .popup .arrow {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  width: 30px;
  height: 30px;

  background-color: #28C0F7;
}

.csstransforms .left-arrow .arrow {
  left: -12px;

  -moz-box-shadow: rgba(0, 0, 0, 0.8) -3px 3px 5px -3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) -3px 3px 5px -3px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) -3px 3px 5px -3px;
  box-shadow: rgba(0, 0, 0, 0.8) -3px 3px 5px -3px;
}
.csstransforms .right-arrow .arrow {
  right: -12px;

  -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px -3px 5px -3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px -3px 5px -3px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 3px -3px 5px -3px;
  box-shadow: rgba(0, 0, 0, 0.8) 3px -3px 5px -3px;
}

.no-csstransforms .left-arrow .arrow, .no-csstransforms .right-arrow .arrow {
  width: 17px;
  height: 32px;
}
.no-csstransforms .left-arrow .arrow {
  left: -10px;
  background: url("/images/app-notice-arrow-left.png");
}
.no-csstransforms .right-arrow .arrow {
  right: -10px;
  background: url("/images/app-notice-arrow-right.png");
}