/*
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}
*/
#notice {
  color: green;
}
/*
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
*/
div.field_with_errors input {
	border: 2px solid #c5060b;
	background-color: #f0f0f0;
}

#errorExplanation {
  width: 230px;
  //border: 1px solid #cc6824;
	margin: 0px;
	padding: 0px;
	//margin: 15px 0px 14px 80px;
	//padding: 8px 8px 8px 8px;	
  //background-color: #fef6d6;
	font-weight: bold;
	font-family: Arial;
	color: #7d7d7d;
	float: left;	
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 11px;
  margin: 0px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
	float: left;
}

#errorExplanation ul li:last-child {
	margin-bottom: 5px;
}

#errorExplanation ul li {
  font-size: 10px;
	color: #c00;
	list-style: none;
}

#error_explanation-sidebar {
	width: 180px;
	float: left;
	background-color:#000;
}

#error_explanation-content {
	background: white;
	border: 1px solid #e3d7a9;
	overflow: hidden;
	margin-bottom:24px;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0px 2px 1px #ece8d5;
	background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.01, rgb(248,248,248)),
    	color-stop(0.05, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
    	center bottom,
    	rgb(248,248,248) 1%,
    	rgb(255,255,255) 5%
	);
}

