<% title "Step 2 - Invite Your Friends" %>
<div id="grey-strip">
	<div class="wrapper-top">
		<div class="headings-left">
			<h2>Sign Up</h2>
			<h3>It's <span>free</span> and takes 2 minutes!</h3>
			<ul class="home-featurebutton">
				<li class="home-featurebutton"><%= link_to 'Feature Tour', "feature-tour" %></a></li>
			</ul>
		</div>
		<div class="headings-right">
			<ul id="signupsteps">
        		<li class="step1">Step1</li>
        		<li class="step2ON">Step2</li>
<!--
        		<li class="step3">Step3</li>
-->
			</ul>
		</div>
	</div>
</div>

<div class="wrapper-homecontent">
	<!-- A form here with First Name, Last Name, Email Address -->
	<%= render "registrations/form" %>
</div>

