<!--
<div id="macabolic-description">
	mac-a-bo-lic [mækæˋbəlik], a social network for all the macaholic. Whether you are just fallen in love with Mac or an experienced guru, it is a place where you can share with your friends.<br>
	<br>
	We are very excited to show you the Macabolic, that's why we are working night and day to get this done. Leave us your email and we will notify you when it is ready.
</div>

<div id="grey-strip">
	<div class="wrapper-top">
		<h2>Macabolic is a <span>social network</span> dedicated to mac lovers.</h2>
		<h3>Share your product collections and make new friends</h3>
	</div>
</div>
-->
<div class="wrapper-homecontent">
	<div class="home-notify-me">
		<div class="home-notify-me-th">Thank you.</div>
		<div class="home-notify-me-body">
			<p>
				Dear <%= @registration.full_name %>,<br/><br/><br/>
				
				Thank you for your interest!<br/><br/>
				
				We are working very hard to get the site out, you can help spreading the word to others who are Mac fans. We will notify you once it is ready.<br/><br/><br/>
			
				The Macabolic Team<br/><br/><br/>
				
				<a href="http://www.twitter.com/macabolic"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-c.png" alt="Follow macabolic on Twitter"/></a><br/><br/>
				<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/pages/Macabolic/204074676279765" show_faces="false" width="450" font="verdana"></fb:like>
			</p>
			<br/>
		</div>
	</div>
</div>

<!-- %= link_to 'Home', root_url % -->
