<!--
<div id="macabolic-description">
	mac-a-bo-lic [mækæˋbəlik], a social network for all the macaholic. Whether you are just fallen in love with Mac or an experienced guru, it is a place where you can share with your friends.<br>
	<br>
	We are very excited to show you the Macabolic, that's why we are working night and day to get this done. Leave us your email and we will notify you when it is ready.
</div>
-->
<div id="grey-strip">
	<div class="wrapper-top">
		<h2>Macabolic is a <span>social network</span> dedicated to mac lovers.</h2>
		<h3>Share your product collections and make new friends</h3>
	</div>
</div>
<div class="wrapper-homecontent">
	<div>
		<h3>Thank you for your registration! We are working very hard to get the site out. Meantime, we are grateful if you could help us to spread the word out.</h3>
	</div>
</div>

<!-- %= link_to 'Home', root_url % -->
