<% title "Extra" %>

<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix(); 
    }); 
</script> 

<div id="grey-strip-signedin">
	<div class="wrapper-top">
		<%= render :partial => "home/navigation", :locals => { :item => "Extra" } %>
	</div>
</div>

<div class="wrapper-featuretour">
	<div class="featuretour-container">
		<div style="margin-bottom: 25px;">
			<h3 style="text-align:left;">There are always something EXTRA!</h3><br/>
			<div>
				<%= image_tag "/images/featuretour/extra.png" %>
				<br/><br/>
				<p style="font-size: 12px; font-family: Verdana;">
					Drag the "To Macabolic" Button to your Bookmark Bar, then you can add products to your collection at any time.<br>
					It is best to do it on the product detail page where the picture is the biggest!
					<br/><br/>
					<span class="extra_to_macabolic">
						<a href="javascript:(function(){if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='http://<%= HOST %>/bookmarklet/saveit.js?';}})();">To Macabolic</a>
					</span>
					
					<br/>					
				</p>
			</div>
		</div>
	</div>
</div>
