<% title "FAQ" %>

<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix(); 
    }); 
</script> 

<div id="grey-strip-signedin">
	<div class="wrapper-top">
		<%= render :partial => "home/navigation", :locals => { :item => "FAQ" } %>
	</div>
</div>

<div class="wrapper-featuretour">
	<div class="featuretour-container">
		<div style="margin-bottom: 25px;">
			<h3 style="text-align:left;">Frequently Asked Questions</h3><br/>
			<div>
				<p style="font-size: 12px; font-family: Verdana;">
					Feel free to let us know if you have any comments on Macabolic. <br/><br/>
					
					<strong style="text-decoration: underline; text-weigh: bold">Email</strong><br/>
					General support: <a href="mailto:general.support@macabolic.com">general.support@macabolic.com</a><br/>
					Advertisement: <a href="mailto:advertise@macabolic.com">advertise@macabolic.com</a><br/>
					Have your own idea: <a href="mailto:idea@macabolic.com">idea@macabolic.com</a><br/>
					
					<br/>
					<strong style="text-decoration: underline; text-weigh: bold">Facebook</strong><br/>
					<a href="http://www.facebook.com/macabolic">http://www.facebook.com/macabolic</a><br/><br/>
					
					<strong style="text-decoration: underline; text-weigh: bold">Twitter</strong><br/>
					<a href="http://twitter.com/macabolic">http://twitter.com/macabolic</a><br/><br/>
				</p>
			</div>
		</div>
	</div>
</div>
