<% title "Welcome" %>
<div id="grey-strip">
	<div class="wrapper-top">
		<%= render 'layouts/tagline' %>
			<ul class="home-featurebutton">
				<li class="home-featurebutton"><%= link_to 'Feature Tour', features_url %></a></li>
			</ul>
	</div>
</div>

<div class="wrapper-homecontent">
	<%= image_tag "/images/sitewide/home-or.png", :alt => "home-or", :width => "186", :height => "10", :class => "or" %>
	<!-- A form here with First Name, Last Name, Email Address -->
	<%#= render "home/form" %>	
	<%= render "registrations/form" %>
</div>
