<div class="unit on-2 columns">
	<div class="column">
		<%= render :partial => "users/new" %>
	</div>
	<div class="column">
		<p>
			Share your Mac experience in the ...
			<ul>
				<li>Feature 1</li>
				<li>Feature 2</li>
				<li>Feature 3</li>
				<li>Feature 4</li>
				<li>and many more...</li>
			</ul>
		</p>
	</div>
</div>

