<h1>Editing my_collection_detail</h1>

<% form_for(@my_collection_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @my_collection_detail %> |
<%= link_to 'Back', my_collection_details_path %>