<div style="float: center; width: 223px; margin-bottom: 20px;" class="product-stat-details">
	<ul>
		<li>Followers<span id="followers-stat"><%= @user.followers.size %></span></li>
		<li class="alt noborder">Following<span><%= @user.followings.size %></span></li>
	</ul>
</div>
