<div class="sidebar-content">
	<div class="sidebar-header" style="background: #dd6219;">FREE Giveaway - Photo Contest</div>
	<div style="margin: 17px; border: 0px;">
		<div>
			<p style="font-size: 12px; font-family: Verdana;">
				<div id="products">					
						<div>
							<div class="left logo-wrapper" style="margin-right: 10px;">
								<%= image_tag '/images/contest/appletv2.png', :width => "240" %>									
							</div>
							<p style="margin-bottom: 3px;">We are giving away the new Apple TV 2.</span></p>
							<p style="margin-bottom: 3px;"><%= link_to 'Find out more', "/contests/free-apple-tv-2/join?originate=#{originate}" %></p>
						</div>
				</div>
			</p>
		</div>
	</div>
</div>