<div>
	<div class="pagination-wrapper" style="background: #e9e9e9;">
		<p style="font-size:14px; color:#808080; padding-left: 23px; text-align: center">
			<strong><span>Unlock your deals before they expire</span></strong>
		</p>
	</div><!-- .pagination-wrapper -->		
	<div style="background: #e9e9e9;">
	</div>
</div>	
<br/>
