<h1>Editing my_friend</h1>

<% form_for(@my_friend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @my_friend %> |
<%= link_to 'Back', my_friends_path %>