<div class="sidebar-content" id="recent-search">
    <div class="sidebar-header">Something to show us?</div>
	<div class="sidebar-inner">
		<p>You can add your own to Macabolic.</p>
		<p>
			<%= link_to 'Create one now', new_product_path, :class => "button-green sidebar-button", :id => "add-wishlist", :title => "Create one now" %>
		</p>
	</div>
	<div>
		<p>			
			<a href="javascript:(function(){if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='http://macbook-pro.local:3001/bookmarklet/saveit.js?';}})();">Save it later!</a>
<%#javascript:void((function(){var%20hsb=document.createElement('script');hsb.setAttribute('src','https://svpply.com/bookmarklet/loader/svpk_aa686e3a002f6e79090ae40564dc0f7b');hsb.setAttribute('type','text/javascript');document.getElementsByTagName('head')[0].appendChild(hsb);})());	%>
		</p>
	</div>
</div>
