<div class="sidebar-content" id="recent-search">
    <div class="sidebar-header">Something to show us?</div>
	<div class="sidebar-inner">
		<p>You can add your own to Macabolic.</p>
		<p>
			<%= link_to 'Create one now', new_product_path, :class => "button-green sidebar-button", :id => "add-wishlist", :title => "Create one now" %>
		</p>
	</div>
</div>
