<div class="sidebar-content" id="new-product">				
<%# if @user == current_user %>			
	<div class="sidebar-header">Find Your Product</div>	
<%# else %>
<!--	<div class="sidebar-header">Recommend a product</div>	-->
<%# end %>
	<div class="sidebar-inner">
    	<ul>
  			<li id="product-search-form">
				<%= form_tag search_products_path, :method => 'get', :id => 'products_search' do %>
					<%= hidden_field_tag :my_collection, my_collection.id %>
					<%= text_field_tag :search, params[:search], :placeholder => 'Search', :autocomplete => 'off', :class => 'product_text_search' %>
					<%#= submit_tag "Search", :name => nil %>
				<% end %>
  			</li>
		</ul>
		<br/>
    	<ul id="search-list">
			<div id="products">
				<%= render :partial => 'products/product_search_result' %>
			</div>
    	</ul>
	</div>
</div><!-- #new-product -->

