<% if @products.nil? %>

<% else %>
	<% @products.each do |product| %>
        <li>
			<div>
			  	<%= image_tag(product.thumbnail.url(:thumb), :size => "45x45") %>
				<div class="left">
					<p><%= link_to product.name, (product) %></p>
					<p>Added <%= lapsed_time(product.created_at) %></p>
				</div>
				<div class="right">
					<p>&nbsp;&nbsp;</p>
					<p>
						<%#= link_to 'add', url_for(current_user.default_collection, product) %>
						<% if !@my_collection.nil? %>	
							<%= link_to 'Add', my_collection_my_collection_items_path(@my_collection, MyCollectionItem.new, :product => product.id), :method => 'post' %>
							<%#= link_to 'add', :controller => "my_collections", :action => "add_product", :id => product %>
						<% end %>
					</p>
				</div>				
			</div>
        </li>
	<% end %>
	<!--
		<li>
			<span class="submit-tip-button">
				<input name="Submit" type="button" value="Add to your collection" class="submit-tip-button" />
			</span>			
		</li>
	-->
<% end %>
