<% title 'New Review' %>
<div id="grey-strip">
	<div class="wrapper-top">
		<%= render 'layouts/tagline' %>
	</div>
</div>

<div class="wrapper-homecontent">
	<!-- A form here with Product, Title, Content -->
	<%= render 'form' %>
</div>
