		<div id="black-strip">
			<div class="wrapper-top">
				<div class="logo-holder"><h1>Macabolic</h1></div>				
				<div class="nav-holder">							
<!--					
					<ul id="nav">
						<li><a href="#" title="About" accesskey="1">About</a></li>
						<li><a href="#" title="Contact" accesskey="2">Contact</a></li>
						<li><a href="#" title="Login" accesskey="3">Login</a></li>
					</ul>
-->
				</div>
			</div>
		</div>
