<%#
<h2>Meet the fellow <span>Mac</span> lovers in an all new way.</h2>
<h3>Share your collections, post tips and make recommendations.</h3>
%>
<h2>Discover new products for your <span>Mac</span> everyday</h2>
<h3>Share and recommend to the people you like</h3>