<% title 'My Collections' %>
<script type="text/javascript">  
$(document).ready(function() {
    $(document).pngFix(); 
 
	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	$(".tab1_paging").show();
	
	//Default Action
	$(".tab_content2").hide(); //Hide all content
	//$("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
	//$(".tab_content2:first").show(); //Show first tab content

	$(".tab_content3").hide(); //Hide all content
	//$("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
	$(".tab_content3:first").show(); //Show first tab content

	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		$(".tab_content2").hide(); //Hide all tab content
		$(".tab1_paging").show();
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
	
	//On Click Event
	$("ul.tabs2 li").click(function() {
		$("ul.tabs2 li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		$(".tab_content2").hide(); //Hide all tab content
		$(".tab1_paging").hide();		
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});


	
});
</script>
<script type="text/javascript">
function size(t) {
	a = t.value.split('\n');
	b=1;
	for (x=0;x < a.length; x++) {
 		if (a[x].length >= t.cols) b+= Math.floor(a[x].length/t.cols);
 	}

	b+= a.length;
	if (b > t.rows) t.rows = b;
};
</script>
<body class="subpage">
	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Collections" } %>			
		</div>
	</div>
	
	<div class="wrapper-mh">
		<div class="maincol">
			<!--
			<div class="push" id="add_wishlist">
            	<a class="button-green" id="add-wishlist" href="" title="Add new collection">Add Collection</a>
			</div>
			-->
			<div class="tabbed-content-area">
				<ul class="tabs"> 
			        <li><a href="#tab1">Collections</a></li> 
			        <li><a href="#tab2">Collection Items</a></li> 
				</ul> 		
		<% if @my_collections.empty? %>			
		        <div id="tab1" class="tab_content product-grid group"> 
	            	<div id="search-result" class="no-result">
		                <p>There is no collection yet. Create one now.</p>	
	            	</div>
				</div>
		<% else %>
		        <div id="tab1" class="tab_content product-grid group"> 
					<%= render :partial => 'my_collections/index', :locals => { :my_collections => @my_collections } %>
				</div>	
		<% end %>
		<% if @my_collection_items.empty? %>
				<div id="tab2" class="tab_content2 product-grid group">
					<div id="search-result" class="no-result">
						<p>There is no collection yet. Create one now.</p>
					</div>
				</div>
		<% else %>		
		        <div id="tab2" class="tab_content2 product-grid group">
					<%= render :partial => 'my_collection_items/index', :locals => { :my_collection_items => @my_collection_items, :mode => "read" } %>
				</div>
		<% end %>
			</div>
			
			<br/>
			<!--
			<div class="tabbed-content-area">    		
				<ul class="tabs2"> 
			        <li><a href="#tab2_1">Featured Collections</a></li> 
				</ul> 		
		        <div id="tab2_1" class="tab_content3 product-grid group">
					<%# @featured_collections = MyCollection.featured_collections %>
					<%#= render :partial => 'my_collections/featured_collections', :locals => { :featured_collections => @featured_collections } %>
				</div>
			</div>	
			-->
		</div>
		
		<%#= render 'products/product_search' %>
		<% if @user == current_user %>
		<div class="sidebar">
			<div>
				<div class="sidebar-content account-info">
					<div class="sidebar-header">
						Add a new collection
					</div>
					<div class="sidebar-inner">								
						<%= render :partial => 'my_collections/form', :locals => { :user => @user } %>
					</div>
				</div>
			</div>			
		</div>
		<% end %>
	</div>
</body>